html,body {
        margin: 0;
        padding: 0;
        height: 100%;
        border: none;
    }
.main {
    width: 100%;
    margin: 0 auto;
}
.PC img {
    width: 100%;
    display: block;
    margin: 0 auto;
}
.SP img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.PC .offerbox{
    position: relative;
}

.PC .offerbox .buybtn{
    position: absolute;
    width: 20%;
    display: block;
    bottom: 11%;
    right: 40%;
}

.buybtn:hover{
    opacity: 0.8; 
}

@media screen and (max-width: 768px){
    .SP .buybtn{
        margin: 0% auto 5% auto;
        width: 58%;
    }
}

.SP{
    display: none;
}
@media screen and (max-width: 768px){
.PC{
    display: none;
}
.SP{
    display: block;
}
}


